body {
  background-color: black;
}

h1 {
  color: Fuchsia;
  text-align: center;
  font-size: 5em;
  font-family: arial;
}

p {
  color: green;
  text-align: center;
  font-size: 2em;
  font-family: arial;
}
