body {
  background-color: black;
}

h1 {
  color: fuchsia;
  text-align: center;
  font-size: 5em;
  font-family: arial;
}

h2 {
  color: fuchsia;
  text-align: center;
  font-size: 3em;
  font-family: arial;
}

p {
  color: green;
  text-align: center;
  font-size: 2em;
  font-family: arial;
}
