body {
  background-color: black;
}

h1 {
  color: fuchsia;
  text-align: center;
  font-size: 8em;
  font-family: arial;
  line-height: 0.5;
}

h2 {
  color: fuchsia;
  text-align: center;
  font-size: 4em;
  font-family: arial;
  line-height: 0.5;
}

p {
  color: chartreuse;
  text-align: center;
  font-size: 2em;
  font-family: arial;
}

img {
  height: 50%;
  width: auto;
}
